<div class='row'>
  <h1>Dashboard</h1>
</div>

<div>
  <canvas id="myChart"></canvas>
</div>

<div class='row mt-3'>
  <div class='col col-sm-4'>
    <div class='card'>
      <div class='card-header'>
        <h6>Search</h6>
      </div>
      <div class='card-body'>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control">
          </div>
        </form>      </div>
        <div class='card-footer d-flex justify-content-end'>
          <button type="submit" class="btn btn-primary btn-sm">Search</button>
        </div>
    </div>
  </div>
</div>

<div class='row mt-3'>
  <div class='col'>
    <div class='card'>
      <div class='card-header'>
        <h6>List</h6>
      </div>
      <div class='card-body'>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">CPF</th>
              <th scope="col">Phone</th>
              <th scope="col">#</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>
                <a href="#">View</a>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>
                <a href="#">View</a>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
              <td>
                <a href="#">View</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class='card-footer'>
        Pagination
      </div>
    </div>
  </div>
</div>
