<%= render 'proponents/layout' do %>
  <div class='card'>
    <div class='card-header'>
      <h6>Address</h6>
    </div>
    <div class='card-body'>
      <%= render 'proponents/addresses/form', address: @address %>
    </div>
    <div class='card-footer d-flex justify-content-between'>
      <%= link_to 'Cancel', proponent_path(@address.proponent_id), class: 'btn btn-danger' %>
      <button type="submit" form="<%= dom_id(@address) %>" class="btn btn-success">Save</button>
    </div>
  </div>
<% end %>
