<%= render 'proponents/layout' do %>
  <div class='card'>
    <div class='card-header'>
      <h6>Show</h6>
    </div>
    <div class='card-body'>
      <%= render 'proponents/form', record: @proponent, disabled: true %>
    </div>
    <div class='card-footer d-flex justify-content-between'>
      <%= link_to 'Back to list', proponents_path, class: 'btn btn-dark' %>
      <%= link_to 'Edit', edit_proponent_path(@proponent), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
